<h1 class="page-header">{{pageTitle}}</h1>
<div class="panel panel-default">
  <div class="panel-heading">Details</div>
  <table class="table">
    <thead>
      <tr>
        <th>User Name</th>
        <th>CPF</th>
        <th>Email</th>
        <th>Adress</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Number of Residents</th>
        <th>Reports</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-model="user">
        <td>{{user.name}}</td>
        <td>{{user.cpf}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address}}</td>
        <td>{{user.city}}</td>
        <td>{{user.state_city}}</td>
        <td>{{user.country}}</td>
        <td>{{user.number_of_residents}}</td>
        <td><a href="#/report1" title="Monthly Report"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>
            <a href="#/report2" title="Report by User"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>
            <a href="#/report3" title="Total Consumption"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
