<h1 class="page-header">{{pageTitle}}</h1>

  <div ng-show="error" class="alert alert-danger" id="errorMessage">{{errorMessage}}
    <button class="close" data-dismiss="alert">x</button>
  </div>

  <div ng-show="success" class="alert alert-success" id="successMessage">{{successMessage}}
    <button class="close" data-dismiss="alert">x</button>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Change Password</h3>
        </div>
        <div class="panel-body">
          <form method="post" name="formChangePassword" id="formChangePassword" ng-submit="changePasswordFunction()" role="form">
            <fieldset>
              <div class="form-group">
                <label for="cpf">CPF:</label>
                <input class="form-control" id="userCPF" name="userCPF" type="text" ng-model="user.cpf"
                ui-mask="999.999.999-99" required="">
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" placeholder="Password" id="password" name="userPassword" type="password" ng-model="user.password" required="">
              </div>
              <div class="form-group">
                <label for="newPassword">New Password:</label>
                <input class="form-control" placeholder="New Password" id="NewPassword" name="userNewPassword" type="password" ng-model="user.new.password" required="">
              </div>
              <div class="form-group">
                <label for="confirmNewPassword">Confirm New Password:</label>
                <input class="form-control" placeholder="Confirm New Password" id="confirmNewPassword" name="userConfirmNewPassword" type="password" ng-model="user.confirm.new.password" required="">
              </div>
              <input type="submit" class="btn btn-primary btn-block" id="change-password-btn" value="Change">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
